

#GalleryDivShade{
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background-color:black;
	z-index:200000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}

/*
#gallery_add_form{
	position:fixed;
	top:25%;
	z-index:200001;
	width:100%;
	}
#gallery_add_form table{
	margin:1em auto;
	border:7px solid white;
	background-color:#f1f1f1;
	border-collapse:collapse;
	}
#gallery_add_form td{
	padding:.5em;
	}
*/
